@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/*=== custom veriables ====*/
:root {
    --FONT-COLOR : rgb(19, 7, 7);
    --FONT-COLOR--WHITE: rgb(255, 255, 255);

    --BG-COLOR : #F2F2F2;
    --BG-HERO-SECTION:#faf5dd;
    --FF: 'Poppins', sans-serif;
    --FONT-WEIGHT-LIGHT: 300;
    --FONT-WEIGHT-REGULAR: 400;
    --FONT-WEIGHT-SEMI-BOLD: 700;
    --FONT-WEIGHT-BOLD: 700;

    --border-color: rgba(0, 0, 0, 0.1);
    --border : 1px solid var(--border-color);
}
/*=== global style ====*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--BG-COLOR);
    font-family: var(--FF);
    font-weight: var(--FONT-WEIGHT-LIGHT);
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1100px;
    width: calc(100% - 2rem);
    margin: auto;
}
.section__padding {
    padding: 5rem 0;
}


.btn {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6rem 2rem;
    border-radius: 2.5rem;
    transition: 300ms;
}
.btn__outline {
    color: var(--FONT-COLOR);
    border: 1px solid currentColor;
}
.btn__outline:hover {
    color: #FFF;
    background: #d7c458;
    border: 1px solid currentColor;
}
.btn__solid {
    color: #FFF;
    background-color: #d7c458;
}
.btn__solid:hover {
    background-color: var(--FONT-COLOR);
}
/*=== navbar ====*/
header {
    position: relative;
}
.navbar {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__toggle__input,
.nav__toggle__label {
    display: none;
}
.navbar .logo {
    color: var(--FONT-COLOR);
    font-size: 2rem;
    font-weight: var(--FONT-WEIGHT-SEMI-BOLD);
}
.navbar .logo::after {
    content: '.';
    color: #D7C458;
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
}
.nav__items {
    list-style: none;
}
.nav__item {
    display: inline-block;
    margin-left: 1.5rem;
}
.nav__link {
    color: var(--FONT-COLOR);
    font-size: 1rem;
    text-decoration: none;
    transition: 300ms;
}
.nav__shopping__icon i {
    margin-left: 3.2rem;
    transition: 300ms;
}
.nav__link:hover,
.nav__shopping__icon:hover i{
    color: #D7C458;
}
.nav .btn {
    margin-left: 2rem;
}
.nav__toggle__label,
.nav__toggle__label::before,
.nav__toggle__label::after {
    position: relative;
    width: 32px;
    height: 3px;
    border-radius: 1rem;
    background-color: var(--FONT-COLOR);
}
.nav__toggle__label::before,
.nav__toggle__label::after {
    content: '';
    position: absolute;
}
.nav__toggle__label::before {
    top: 8px;
}
.nav__toggle__label::after {
    bottom: 8px;
}
.nav__toggle__close,
.nav__toggle__close::after {
    display: none;
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 1rem;
    background-color: var(--FONT-COLOR);
}
.nav__toggle__close {
    transform: rotatez(45deg);
    top: 2.2rem;
    right: 1rem;
}
.nav__toggle__close::after {
    content: '';
    transform: rotatez(-90deg); 
}
@media (max-width:1000px) {
    .nav__toggle__label {
        display: block;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
        height: 100vh;
        width: 30vw;
        top: 0;
        left: 0;
        position: absolute;
        background-color: var(--BG-COLOR);
        transform: scale(0, 1);
        transform-origin: left;
        transition: 400ms ease-in;
    }
    .nav__items {
        width: 100%;
        margin-top: 80px;
    }
    .nav__item {
        display: block;
        margin: 1px 0;
        padding: .5rem 1rem;
        background-color: rgb(240, 255, 255);
    }
    .nav__link {
        color: var(--FONT-COLOR);
        font-size: .9rem;
        text-decoration: none;
        transition: 300ms;
    }
    .nav__shopping__icon i{
        margin: 1rem 2rem;
        transition: 300ms;
    }
    .nav__toggle__input:checked ~ .nav {
        transform: scale(1, 1);
    }
    .nav__toggle__close,
    .nav__toggle__close::after {
    display: block;
}
}
@media (max-width: 768px) {
    .nav {
        width: 60%;
    }
}

/*=== Hero ====*/
.hero {
    background-color: var(--BG-HERO-SECTION);
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}
.hero__text {
    flex: 1;
}
.hero__img {
    flex: 1;
    height: 560px;
}
.hero__wrapper .hero__text .hero__title {
    font-size: 3.7rem;
    text-transform: capitalize;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    line-height: .99;
    margin-bottom: 1.5rem;
}
.hero__wrapper .hero__text .hero__desc {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
@media (max-width:992px) {
    .hero__wrapper .hero__text .hero__title {
        font-size: 3rem;
    }
}
@media (max-width:768px) {
    .hero__wrapper {
        padding: 5rem 0;
    }
    .hero__wrapper .hero__text .hero__title {
        font-size: 3rem;
    }
    .hero__wrapper .hero__img {
      display: none;
    }
}