@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/*=== custom veriables ====*/
:root {
    --FONT-COLOR : rgb(19, 7, 7);
    --FONT-COLOR--WHITE: rgb(255, 255, 255);

    --BG-COLOR : #F2F2F2;
    --BG-HERO-SECTION:#faf5dd;
    --FF: 'Poppins', sans-serif;
    --FONT-WEIGHT-LIGHT: 300;
    --FONT-WEIGHT-REGULAR: 400;
    --FONT-WEIGHT-SEMI-BOLD: 700;
    --FONT-WEIGHT-BOLD: 700;

    --border-color: rgba(0, 0, 0, 0.1);
    --border : 1px solid var(--border-color);
}
/*=== global style ====*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--BG-COLOR);
    font-family: var(--FF);
    font-weight: var(--FONT-WEIGHT-LIGHT);
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1100px;
    width: calc(100% - 2rem);
    margin: auto;
}
.section__padding {
    padding: 5rem 0;
}


.btn {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6rem 2rem;
    border-radius: 2.5rem;
    transition: 300ms;
}
.btn__outline {
    color: var(--FONT-COLOR);
    border: 1px solid currentColor;
}
.btn__outline:hover {
    color: #FFF;
    background: #d7c458;
    border: 1px solid currentColor;
}
.btn__solid {
    color: #FFF;
    background-color: #d7c458;
}
.btn__solid:hover {
    background-color: var(--FONT-COLOR);
}
/*=== navbar ====*/
header {
    position: relative;
}
.navbar {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__toggle__input,
.nav__toggle__label {
    display: none;
}
.navbar .logo {
    color: var(--FONT-COLOR);
    font-size: 2rem;
    font-weight: var(--FONT-WEIGHT-SEMI-BOLD);
}
.navbar .logo::after {
    content: '.';
    color: #D7C458;
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
}
.nav__items {
    list-style: none;
}
.nav__item {
    display: inline-block;
    margin-left: 1.5rem;
}
.nav__link {
    color: var(--FONT-COLOR);
    font-size: 1rem;
    text-decoration: none;
    transition: 300ms;
}
.nav__shopping__icon i {
    margin-left: 3.2rem;
    transition: 300ms;
}
.nav__link:hover,
.nav__shopping__icon:hover i{
    color: #D7C458;
}
.nav .btn {
    margin-left: 2rem;
}
.nav__toggle__label,
.nav__toggle__label::before,
.nav__toggle__label::after {
    position: relative;
    width: 32px;
    height: 3px;
    border-radius: 1rem;
    background-color: var(--FONT-COLOR);
}
.nav__toggle__label::before,
.nav__toggle__label::after {
    content: '';
    position: absolute;
}
.nav__toggle__label::before {
    top: 8px;
}
.nav__toggle__label::after {
    bottom: 8px;
}
.nav__toggle__close,
.nav__toggle__close::after {
    display: none;
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 1rem;
    background-color: var(--FONT-COLOR);
}
.nav__toggle__close {
    transform: rotatez(45deg);
    top: 2.2rem;
    right: 1rem;
}
.nav__toggle__close::after {
    content: '';
    transform: rotatez(-90deg); 
}
@media (max-width:1000px) {
    .nav__toggle__label {
        display: block;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
        height: 100vh;
        width: 30vw;
        top: 0;
        left: 0;
        position: absolute;
        background-color: var(--BG-COLOR);
        transform: scale(0, 1);
        transform-origin: left;
        transition: 400ms ease-in;
    }
    .nav__items {
        width: 100%;
        margin-top: 80px;
    }
    .nav__item {
        display: block;
        margin: 1px 0;
        padding: .5rem 1rem;
        background-color: rgb(240, 255, 255);
    }
    .nav__link {
        color: var(--FONT-COLOR);
        font-size: .9rem;
        text-decoration: none;
        transition: 300ms;
    }
    .nav__shopping__icon i{
        margin: 1rem 2rem;
        transition: 300ms;
    }
    .nav__toggle__input:checked ~ .nav {
        transform: scale(1, 1);
    }
    .nav__toggle__close,
    .nav__toggle__close::after {
    display: block;
}
}
@media (max-width: 768px) {
    .nav {
        width: 60%;
    }
}

/*=== Hero ====*/
.hero {
    background-color: var(--BG-HERO-SECTION);
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}
.hero__text {
    flex: 1;
}
.hero__img {
    flex: 1;
}
.hero__img img{
    height: 560px;
}
.hero__wrapper .hero__text .hero__title {
    font-size: 3.7rem;
    text-transform: capitalize;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    line-height: .99;
    margin-bottom: 1.5rem;
}
.hero__wrapper .hero__text .hero__desc {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
@media (max-width:992px) {
    .hero__wrapper .hero__text .hero__title {
        font-size: 3rem;
    }
}
@media (max-width:768px) {
    .hero__wrapper {
        padding: 5rem 0;
    }
    .hero__wrapper .hero__text .hero__title {
        font-size: 3rem;
    }
    .hero__wrapper .hero__img {
      display: none;
    }
}
/*=== About ====*/
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.wrapper > * {
    flex: 1;
}
.section__heading {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    line-height: .99;
    margin-bottom: 2rem;
}

.about__img {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.about__img img{
    max-height: 400px;
    object-fit: cover;
}
h3 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    line-height: .99;
    margin-bottom: 2rem; 
}
.section__desc {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}
@media (max-width:992px) {
    .about .wrapper {
        flex-wrap: wrap;
    }
    .about .wrapper .about__text__right:last-child {
        flex: 100%;
    }
}
@media (max-width:768px) {
    .about .wrapper {
        flex-wrap: wrap;
    }
    .about .wrapper > div {
        flex: 100%;
    }
}
/*=== About ====*/
.services {
    text-align: center;
}
.services .wrapper {
    gap: 2rem;
}
.card {
    border: 1px solid var(--FONT-COLOR);
    padding: 3rem 1rem;
}
.card__img {
    width: 50px;
    margin: auto;
    margin-bottom: 1rem;
}
.card__heading {
    color: var(--FONT-COLOR);
    font-size: 1.5rem;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    margin-bottom: 0.5rem;
}
.card:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border: none;
}
@media (max-width:992px) {
    .services .wrapper {
        flex-wrap: wrap;
    }
    .services .wrapper > *{
        flex: 40%;
    }

}
@media (max-width:580px) {
    .services .wrapper > *{
        flex: 100%;
    }
}
/* WHY WE CHOOSE US */
.why__choose__us {
    background-color: rgb(233, 242, 242);
}
.why__choose__us .img__wrapper {
    position: relative;
    z-index: 10;
}
.why__choose__us .img__wrapper::before{
    content: '';
    width: 100%;
    height: 100%;
    left: 2rem;
    top: 2rem;
    background-color: #d7c458;
    position: absolute;
    z-index: -1;
    border-radius: 5px;
}
.why__choose__us ul {
    list-style-type: none;
}
.why__choose__us li {
    margin-bottom: 1rem;
}
.why__choose__us li i{
    margin-right: 1rem;
    color: #d7c458;
}
@media (max-width:992px) {
    .why__choose__us .wrapper {
        flex-wrap: wrap;
    }
    .why__choose__us .wrapper > *{
        flex: 100%;
    }
    .why__choose__us .img__wrapper::before{
        left: .5rem;
        top: .5rem;
    }
}
/* PORTFOLIO */
.portfolio {
    text-align: center;
}
.portfolio__wrapper {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1.5rem;
}
.portfolio__item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}
.portfolio__item {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    transition: all 300ms ease-in;
}
.portfolio__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: all 300ms ease-in;
}
.portfolio__item:hover::before {
    display: block;
}
.portfolio__item .portfolio__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50% );
    display: none;
    transition: 500ms ease-in;
}
.portfolio__item:hover .portfolio__text{
    display: block;
}

.portfolio__heading {
    color: #d7c458;
    font-size: 2rem;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    margin-bottom: .2rem;
}
.portfolio__text {
    color: #FFF;
}
.portfolio .btn {
    margin-top: 2.5rem;
}

@media (max-width:768px) {
    .portfolio__wrapper {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 1.5rem;
    }
    .portfolio__item:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .portfolio__item:nth-child(3) {
        grid-column: span 2;
        grid-row: span 2;
    }
}
@media (max-width:580px) {
    .portfolio__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .portfolio__item:nth-child(2) {
        grid-column: auto;
        grid-row: auto;
    }
    .portfolio__item:nth-child(3) {
        grid-column:auto;
        grid-row: auto;
    }
}
/*  TESTIMONIAL */
.testimonial {
    background-color: rgb(233, 242, 242);
    margin-bottom: 300px;
}
.testimonial .container{
    position: relative;
}

.certificate {
    display: flex;
    justify-content: flex-start;
    align-items: baseline ;
    gap: 1.5rem;
}
.certificate__img {
   width:10%;
}
.testimonial__img img {
    height: 540px;
    object-fit: cover;
}
.testimonial__cards {
    position: absolute;
    display: flex;
    gap: 2rem;
    bottom: -40%;
}
.testimonial__card {
    border: var(--border);
}
.testimonial__card img{
    filter: grayscale(1);
}
.testimonial__card:hover img{
    filter: grayscale(0);
}
.testimonial__card__text{
    margin: 1.5rem;
}
.testimonial__card__text h5{
    font-size: 1.2rem;
    font-weight: var(--FONT-WEIGHT-REGULAR);
}
.testimonial__card__text p{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: var(--FONT-WEIGHT-REGULAR);
}
@media (max-width:992px) {
    .testimonial__cards {
        position: initial;
        flex-wrap: wrap;
        top: 100%;
    }
    .testimonial__cards > *{
        flex: 50%;
    }

    .testimonial__wrapper {
        flex-direction: column;
        margin-bottom: 2rem;
    }
}
@media (max-width:580px) {
    .services .wrapper > *{
        flex: 100%;
    }

}
/* NEWS */
.news .section__heading,
.news .section__desc {
    text-align: center;
}
.news .wrapper {
    flex-wrap: wrap;
    align-items: initial;
}
.news .card__box img{
    margin-bottom: 1.5rem;
}
.news .card__box h5{
    color: var(--FONT-COLOR);
    font-size: 1.1rem;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    margin-bottom: .5rem;
}
.news .card__box span{

    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    margin-bottom: 1.5rem;
    margin-right: .2rem;
}
.news .card__box p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    font-weight: var(--FONT-WEIGHT-REGULAR);
    margin-top: 1.5rem;
}
@media (max-width: 768px) {
    .news .wrapper > * {
        flex: 100%;
    }
}
/* CTA */
.cta {
    width: 100%;
    height: 500px;
    background-color: rgb(240, 255, 255);
    background-image: url(../imges/freestocks-rNPfyRYqjHY-unsplash.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
}
/* FOOTER */
.footer .wrapper {
    align-items: initial;
    flex-wrap: wrap;
}
.footer .logo {
    margin-bottom: 1.5rem;
}
.footer  p:nth-child(2) {
    margin-bottom: 1.5rem;
}

.footer ul  {
    list-style-type: none;
    margin-top: 1rem;
}
.footer ul li {
    display: inline-block;
    margin-right: 1rem; 
}
.footer ul li a {
    text-decoration: none;
}
.footer ul li a i{
    background-color: #d7c458;
    color: rebeccapurple;
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
@media (max-width:768px) {
    .footer .wrapper > * {
        flex: 100%;
    }
}
.cta__desc {
    width: 50%;
}

.cta .btn {
    margin: 2rem 1rem 0 0;
}
@media (max-width:768px) {
    .cta__desc {
        width: 90%;
    }
}